<!-- there is only one brew day record per recipe -->
<div class="container">
  <div class="row">

    <!-- MASH SECTION-->
    <div class="col-lg-4">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Mash</h5>
          <p class="card-text">


          <div class="input-group p-1" style="border-bottom-style: dotted;">
            <div class="input-group p-1">
              <label style="padding: 10px;">Mash-in</label>
              <input [(ngModel)]="brewDays[0].mashInTime" type="number" class="form-control th-right"
                id="mashInTime"
                maxlength="5">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Strike Temp</label>
              <input [(ngModel)]="brewDays[0].strikeTempLower" type="number" class="form-control th-right"
                id="strikeTempLower">
              &nbsp;__&nbsp;
              <input [(ngModel)]="brewDays[0].strikeTempUpper" type="number" class="form-control th-right"
                id="strikeTempUpper">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Strike pH</label>
              <input [(ngModel)]="brewDays[0].strikePh" type="number" class="form-control th-right"
                id="strikePh">
            </div>
          </div>

          <div class="p-1">

            <div class="input-group p-1">
              <label style="padding: 10px;">Mash-rest</label>
              <input [(ngModel)]="brewDays[0].mashRestTime" type="number" class="form-control th-right"
                id="mashRestTime"
                type="text"
                maxlength="5">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].mashRestTimeTarget" type="number" class="form-control th-right"
                id="mashRestTimeTarget">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Rest Temp</label>
              <input [(ngModel)]="brewDays[0].restTemp" type="number" class="form-control th-right"
                id="restTemp">
            </div>
            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].restTempTarget" type="number" class="form-control th-right"
                id="restTempTarget">
            </div>
            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Rest pH</label>
              <input [(ngModel)]="brewDays[0].restPh" type="number" class="form-control th-right"
                id="restPh">
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-lg-2">


      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Vorlauf</h5>
          <p class="card-text">

          <div class="input-group p-1">
            <label style="padding: 10px;">Time</label>
            <input [(ngModel)]="brewDays[0].vorlaufTime" type="number" class="form-control th-right"
              id="vorlaufTime">
          </div>

        </div>
      </div>
    </div>


    <div class="col-lg-4">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between">
          <h5 class="card-title">Lauter</h5>
          <p class="card-text">


          <div class="input-group p-1" style="border-bottom-style: dotted;">
            <div class="input-group p-1">
              <label style="padding: 10px;">Start Time</label>
              <input [(ngModel)]="brewDays[0].lauterStartTime" type="number" class="form-control th-right"
                id="lauterStartTime">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Mash Temp</label>
              <input [(ngModel)]="brewDays[0].strikePh" type="number" class="form-control th-right"
                id="strikePh">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">First Gravity</label>
              <input [(ngModel)]="brewDays[0].firstGravity" type="number" class="form-control th-right"
                id="firstGravity">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">First pH</label>
              <input [(ngModel)]="brewDays[0].firstPh" type="number" class="form-control th-right"
                id="firstPh">
            </div>
          </div>

          <div class="p-1">

            <div class="input-group p-1">
              <label style="padding: 10px;">End Time</label>
              <input [(ngModel)]="brewDays[0].lauterStartTime" type="number" class="form-control th-right"
                id="lauterStartTime">
            </div>

            <div class="input-group p-1">
              <label style="padding: 10px;">Max Temp</label>
              <input [(ngModel)]="brewDays[0].maxTemp" type="number" class="form-control th-right"
                id="maxTemp">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].maxTempTarget" type="number" class="form-control th-right"
                id="maxTempTarget">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Last Gravity</label>
              <input [(ngModel)]="brewDays[0].lastGravity" type="number" class="form-control th-right"
                id="lastGravity">
            </div>
            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Last pH</label>
              <input [(ngModel)]="brewDays[0].lastPh" type="number" class="form-control th-right"
                id="lastPh">
            </div>
            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Kettle Temp</label>
              <input [(ngModel)]="brewDays[0].kettleTemp" type="number" class="form-control th-right"
                id="kettleTemp">
            </div>
          </div>
        </div>
      </div>

    </div>

    <p></p>

    <!-- BOIL SECTION-->
    <div class="row">

      <div class="col-lg-4">

        <div class="card table-condensed card-border">

          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Boil</h5>
            <p class="card-text">

            <div class="input-group p-1">
              <label style="padding: 10px;">Boil Time</label>
              <input [(ngModel)]="brewDays[0].boilTime" type="number" class="form-control th-right"
                id="boilTime">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].boilTimeTarget" type="number" class="form-control th-right"
                id="boilTimeTarget">
            </div>

            <div class="input-group p-1">
              <label style="padding: 10px;">Kettle Vol</label>
              <input [(ngModel)]="brewDays[0].boilKettleVolume" type="number" class="form-control th-right"
                id="boilKettleVolume">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].boilKettleVolumeTarget" type="number" class="form-control th-right"
                id="boilKettleVolumeTarget">
            </div>

            <div class="input-group p-1">
              <label style="padding: 10px;">Preboil Gravity</label>
              <input [(ngModel)]="brewDays[0].preBoilGravity" type="number" class="form-control th-right"
                id="preBoilGravity">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].preBoilGravityTarget" type="number" class="form-control th-right"
                id="preBoilGravityTarget">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Pre Boil pH</label>
              <input [(ngModel)]="brewDays[0].preBoilPh" type="number" class="form-control th-right"
                id="preBoilPh">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Koppa Clear</label>
              <input [(ngModel)]="brewDays[0].koppaClear" type="number" class="form-control th-right"
                id="koppaClear">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Zinc Grams</label>
              <input [(ngModel)]="brewDays[0].zincGrams" type="number" class="form-control th-right"
                id="zincGrams">
            </div>

          </div>
        </div>

      </div>

      <!-- FLAME OUT SECTION -->
      <div class="col-lg-4">

        <div class="card table-condensed card-border">

          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Flame Out</h5>
            <p class="card-text">

            <div class="input-group p-1">
              <label style="padding: 10px;">Time</label>
              <input [(ngModel)]="brewDays[0].flameOutTime" type="number" class="form-control th-right"
                id="flameOutTime">


            </div>

            <div class="input-group p-1">
              <label style="padding: 10px;">Kettle Vol</label>
              <input [(ngModel)]="brewDays[0].boilKettleVolume" type="number" class="form-control th-right"
                id="boilKettleVolume">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].boilKettleVolumeTarget" type="number" class="form-control th-right"
                id="boilKettleVolumeTarget">
            </div>

            <div class="input-group p-1">
              <label style="padding: 10px;">Original Gravity</label>
              <input [(ngModel)]="brewDays[0].originalGravity" type="number" class="form-control th-right"
                id="originalGravity">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].preBoilGravityTarget" type="number" class="form-control th-right"
                id="preBoilGravityTarget">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Post Boil pH</label>
              <input [(ngModel)]="brewDays[0].postBoilPh" type="number" class="form-control th-right"
                id="postBoilPh">
            </div>


          </div>
        </div>

      </div>

      <!-- WHIRLPOOL SECTION -->
      <div class="col-lg-4">

        <div class="card table-condensed card-border">

          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Whirlpool</h5>
            <p class="card-text">


            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Time</label>
              <input [(ngModel)]="brewDays[0].whirlpoolStartTime" type="number" class="form-control th-right"
                id="whirlpoolStartTime">
              &nbsp;__&nbsp;
              <input [(ngModel)]="brewDays[0].whirlpoolEndTime" type="number" class="form-control th-right"
                id="whirlpoolEndTime">
            </div>




          </div>
        </div>

      </div>


    </div>

    <p></p>

    <div class="row">
      <!-- KNOCKOUT SECTION -->
      <div class="col-lg-4">

        <div class="card table-condensed card-border">

          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Knockout</h5>
            <p class="card-text">


            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Time</label>
              <input [(ngModel)]="brewDays[0].knockoutStartTime" type="number" class="form-control th-right"
                id="knockoutStartTime">
              &nbsp;__&nbsp;
              <input [(ngModel)]="brewDays[0].knockoutEndTime" type="number" class="form-control th-right"
                id="knockoutEndTime">
            </div>

            <div class="input-group p-1">
              <label style="padding: 10px;">Knockout Temp</label>
              <input [(ngModel)]="brewDays[0].knockoutTemp" type="number" class="form-control th-right"
                id="knockoutTemp">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].knockoutTempTarget" type="number" class="form-control th-right"
                id="knockoutTempTarget">
            </div>

          </div>
        </div>
      </div>

      <!-- FERMENTOR SECTION -->
      <div class="col-lg-4">

        <div class="card table-condensed card-border">

          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Fermentor</h5>
            <p class="card-text">




            <div class="input-group p-1">
              <label style="padding: 10px;">Fermentor Temp</label>
              <input [(ngModel)]="brewDays[0].fermTemp" type="number" class="form-control th-right"
                id="fermTemp">


              <label style="padding: 10px;">Target</label>
              <input [(ngModel)]="brewDays[0].fermTempTarget" type="number" class="form-control th-right"
                id="fermTempTarget">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Fermentor Vessel</label>
              <input [(ngModel)]="brewDays[0].fermenterVessel" type="number" class="form-control th-right"
                id="fermenterVessel">
            </div>
          </div>
        </div>

      </div>

      <!-- YEAST SECTION -->
      <div class="col-lg-4">

        <div class="card table-condensed card-border">

          <div class="card-body d-flex flex-column justify-content-between">
            <h5 class="card-title">Yeast</h5>
            <p class="card-text">



            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Pitch Time</label>
              <div class="w-50 pull-right">
                <input [(ngModel)]="brewDays[0].pitchTime" class="form-control th-right"
                  id="pitchTime"
                  type="text"
                  maxlength="5">
              </div>
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Pitch Volume</label>
              <input [(ngModel)]="brewDays[0].pitchVolume" type="number" class="form-control th-right"
                id="pitchVolume">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Yeast Strain</label>
              <input [(ngModel)]="brewDays[0].yeastStrain" type="number" class="form-control th-right"
                id="yeastStrain">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Prev Batch Id</label>
              <input [(ngModel)]="brewDays[0].previousBatchId" type="number" class="form-control th-right"
                id="previousBatchId">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Prev Batch Brand</label>
              <input [(ngModel)]="brewDays[0].previousBatchBrand" type="number" class="form-control th-right"
                id="previousBatchBrand">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Yeast Vessel</label>
              <input [(ngModel)]="brewDays[0].yeastVessel" type="number" class="form-control th-right"
                id="yeastVessel">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Cell Count</label>
              <input [(ngModel)]="brewDays[0].cellCount" type="number" class="form-control th-right"
                id="cellCount">
            </div>

            <div class="input-group p-1" style="padding-left: 10px;">
              <label style="padding: 10px;">Viability</label>
              <input [(ngModel)]="brewDays[0].viability" type="number" class="form-control th-right"
                id="viability">
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>