<!-- there is only one brew day record per recipe -->
<div class="container p-0">
  <div class="row pb-1">

    <!-- MASH SECTION-->
    <div class="col-sm-4 p-1">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1 ps-1">
          <h6 class="card-title">Mash</h6>
          <p class="card-text">

            <!-- above dotted divider-->
          <div class="dotted-divider">
            <div class="row pb-1">
              <div class="col-sm-6">Mash-in time</div>
              <input type="time" id="default-picker"
                [(ngModel)]="brewDays[0].mashInTime"
                class="border border-primary col-sm-6 th-right"
                id="mashInTime">
            </div>

            <div class="row pb-1">
              <div class="col-sm-6">Strike Temp</div>
              <input [(ngModel)]="brewDays[0].strikeTempLower" type="number" step="0.1"
                class="border border-primary col-sm-3 th-right"
                id="strikeTempLower">
              <input [(ngModel)]="brewDays[0].strikeTempUpper" type="number" step="0.1"
                class="border border-primary col-sm-3 th-right"
                id="strikeTempUpper">
            </div>

            <div class="row pb-1">
              <div class="col-6">Strike pH</div>
              <input [(ngModel)]="brewDays[0].strikePh" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="strikePh">
            </div>
          </div>

          <!-- below dotted divider-->
          <div class="p-1">

            <div class="row pb-1">
              <div class="col-sm-3">Rest Time</div>

              <input type="time" id="default-picker"
                [(ngModel)]="brewDays[0].mashRestTime"
                class="border border-primary col-sm-4 th-right"
                id="mashRestTime">

              <i class="fa fa-2x fa-bullseye col-sm-2 th-right"></i>
              <input [(ngModel)]="brewDays[0].mashRestTimeTarget" type="number" step="0.1"
                class="border border-primary col-sm-3 th-right"
                id="mashRestTimeTarget">

            </div>

            <div class="row pb-1">
              <div class="col-sm-6">Rest Temp</div>

              <input [(ngModel)]="brewDays[0].restTemp" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="restTemp">
            </div>

            <div class="row pb-1">
              <div class="col-sm-6">Target</div>

              <input [(ngModel)]="brewDays[0].restTempTarget" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="restTempTarget">

            </div>
            <div class="row pb-1">
              <div class="col-sm-6">Rest pH</div>

              <input [(ngModel)]="brewDays[0].restPh" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="restPh">

            </div>
          </div>
        </div>
      </div>

    </div>


    <!-- VORLAUF SECTION-->
    <div class="col-sm-4 p-1">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Vorlauf</h6>
          <p class="card-text">

          <div class="row pb-1">
            <div class="col-sm-4">Time</div>
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].vorlaufTime"
              class="border border-primary col-sm-6 th-right"
              id="vorlaufTime">
          </div>
        </div>
      </div>
    </div>


    <!-- LAUTER SECTION-->
    <div class="col-sm-4  p-1">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Lauter</h6>
          <p class="card-text">

            <!-- above dotted divider-->

          <div class="p-1" style="border-bottom-style: dotted;">

            <div class="row pb-1">
              <div class="col-sm-6">Start Time</div>
              <input type="time" id="default-picker"
                [(ngModel)]="brewDays[0].lauterStartTime"
                class="border border-primary col-sm-6 th-right"
                id="lauterStartTime">
            </div>

            <div class="row pb-1">
              <div class="col-sm-6">Mash Temp</div>
              <input [(ngModel)]="brewDays[0].strikePh" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="strikePh">
            </div>

            <div class="row pb-1">
              <div class="col-sm-6">First Gravity</div>
              <input [(ngModel)]="brewDays[0].firstGravity" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="firstGravity">
            </div>


            <div class="row pb-1">
              <div class="col-sm-6">First pH</div>
              <input [(ngModel)]="brewDays[0].firstPh" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="firstPh">
            </div>
          </div>

          <!-- below dotted divider-->

          <div class="p-1">

            <div class="row pb-1">
              <div class="col-sm-6">End Time</div>
              <input type="time" id="default-picker"
                [(ngModel)]="brewDays[0].lauterEndTime"
                class="border border-primary col-sm-6 th-right"
                id="lauterEndTime">
            </div>

            <div class="row pb-1">
              <div class="col-sm-3">Max Temp</div>
              <input [(ngModel)]="brewDays[0].maxTemp" type="number" step="0.1"
                class="border border-primary col-sm-3 th-right"
                id="maxTemp">
              <i class="fa fa-2x fa-bullseye col-sm-3 th-right"></i>
              <input [(ngModel)]="brewDays[0].maxTempTarget" type="number" step="0.1"
                class="border border-primary col-sm-3 th-right"
                id="maxTempTarget">

            </div>

            <div class="row pb-1">
              <div class="col-sm-6">Last Gravity</div>

              <input [(ngModel)]="brewDays[0].lastGravity" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="lastGravity">

            </div>
            <div class="row pb-1">
              <div class="col-sm-6">Last pH</div>

              <input [(ngModel)]="brewDays[0].lastPh" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="lastPh">

            </div>
            <div class="row pb-1">
              <div class="col-sm-6">Kettle Temp</div>

              <input [(ngModel)]="brewDays[0].kettleTemp" type="number" step="0.1"
                class="border border-primary col-sm-6 th-right"
                id="kettleTemp">

            </div>
          </div>
        </div>

      </div>
    </div>

    <p></p>

    <!-- BOIL SECTION-->
    <div class="col-sm-4  p-1">
      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Boil</h6>
          <p class="card-text">

          <div class="row pb-1">
            <div class="col-sm-3">Boil Time</div>
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].boilTime"
              class="border border-primary col-sm-4 th-right"
              id="boilTime">
            <!--    <div class="col-sm-2">Target</div>
            <div class="fas fa-bullseye col-sm-2"></div>  -->
            <i class="fa fa-2x fa-bullseye col-sm-2 th-right"></i>
            <input [(ngModel)]="brewDays[0].boilTimeTarget" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="boilTimeTarget">
          </div>


          <div class="row pb-1">
            <div class="col-sm-3">Kettle Vol</div>
            <input [(ngModel)]="brewDays[0].boilKettleVolume" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="boilKettleVolume">


            <i class="fa fa-2x fa-bullseye col-sm-3 th-right"></i>
            <div class="col-3 th-right">{{ calculateBoilKettleVolTarget() | number : '1.1-1'}}</div>

          </div>

          <div class="row pb-1">
            <div class="col-sm-3">Preboil Gravity</div>
            <input [(ngModel)]="brewDays[0].preBoilGravity" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="preBoilGravity">
            <i class="fa fa-2x fa-bullseye col-sm-3 th-right"></i>
            <input [(ngModel)]="brewDays[0].preBoilGravityTarget" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="preBoilGravityTarget">
          </div>

          <div class="row pb-1">
            <div class="col-sm-6">Pre Boil pH</div>
            <input [(ngModel)]="brewDays[0].preBoilPh" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="preBoilPh">
          </div>

          <div class="row pb-1">
            <div class="col-sm-6">Koppa Clear</div>
            <input [(ngModel)]="brewDays[0].koppaClear" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="koppaClear">
          </div>

          <div class="row pb-6">
            <div class="col-sm-6">Zinc Grams</div>
            <input [(ngModel)]="brewDays[0].zincGrams" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="zincGrams">
          </div>
        </div>
      </div>
    </div>

    <!-- FLAME OUT SECTION -->
    <div class="col-sm-4 p-1">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Flame Out</h6>
          <p class="card-text">

          <div class="row pb-1">
            <div class="col-sm-6">Time</div>
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].flameOutTime"
              class="border border-primary col-sm-6 th-right"
              id="flameOutTime">
          </div>

          <div class="row pb-1">
            <div class="col-sm-3">Kettle Vol</div>
            <input [(ngModel)]="brewDays[0].boilKettleVolume" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="boilKettleVolume">
            <i class="fa fa-2x fa-bullseye col-sm-3 th-right"></i>
            <div class="col-3 th-right">{{ calculateFLameOutKettleVolTarget() | number : '1.1-1'}}</div>

          </div>

          <div class="row pb-1">
            <div class="col-sm-3">Original Gravity</div>
            <input [(ngModel)]="brewDays[0].originalGravity" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="originalGravity">
            <i class="fa fa-2x fa-bullseye col-sm-3 th-right"></i>
            <input [(ngModel)]="brewDays[0].preBoilGravityTarget" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="preBoilGravityTarget">
          </div>

          <div class="row pb-1">
            <div class="col-sm-6">Post Boil pH</div>
            <input [(ngModel)]="brewDays[0].postBoilPh" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="postBoilPh">
          </div>


        </div>
      </div>
    </div>


    <!-- WHIRLPOOL SECTION -->
    <div class="col-sm-4 p-1">
      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Whirlpool</h6>
          <p class="card-text">
          <div class="row pb-1">
            <div class="col-sm-3">Time</div>
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].whirlpoolStartTime"
              class="border border-primary col-sm-4 th-right"
              id="whirlpoolStartTime">
            &nbsp; - &nbsp;
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].whirlpoolEndTime"
              class="border border-primary col-sm-4 th-right"
              id="whirlpoolEndTime">
          </div>
        </div>
      </div>
    </div>

    <p></p>

    <!-- KNOCKOUT SECTION -->
    <div class="col-sm-4 p-1">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Knockout</h6>
          <p class="card-text">


          <div class="row pb-1">
            <div class="col-sm-3">Time</div>
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].knockoutStartTime"
              class="border border-primary col-sm-4 th-right"
              id="knockoutStartTime">
            &nbsp;-&nbsp;
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].knockoutEndTime"
              class="border border-primary col-sm-4 th-right"
              id="knockoutEndTime">
          </div>

          <div class="row pb-1">
            <div class="col-sm-3">KO Temp</div>
            <input [(ngModel)]="brewDays[0].knockoutTemp" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="knockoutTemp">
            <i class="fa fa-2x fa-bullseye col-sm-3 th-right"></i>
            <input [(ngModel)]="brewDays[0].knockoutTempTarget" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="knockoutTempTarget">
          </div>

        </div>
      </div>
    </div>

    <!-- FERMENTOR SECTION -->
    <div class="col-sm-4 p-1">

      <div class="card table-condensed card-border">
        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Fermentor</h6>
          <p class="card-text">

          <div class="row pb-1">
            <div class="col-sm-3">Ferm Temp</div>
            <input [(ngModel)]="brewDays[0].fermTemp" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="fermTemp">
            <i class="fa fa-2x fa-bullseye col-sm-3 th-right"></i>
            <input [(ngModel)]="brewDays[0].fermTempTarget" type="number" step="0.1"
              class="border border-primary col-sm-3 th-right"
              id="fermTempTarget">
          </div>

          <div class="row pb-1">
            <div class="col-sm-6">Fermentor Vessel</div>
            <input [(ngModel)]="brewDays[0].fermenterVessel" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="fermenterVessel">
          </div>
        </div>
      </div>

    </div>

    <!-- YEAST SECTION -->
    <div class="col-sm-4  p-1">

      <div class="card table-condensed card-border">

        <div class="card-body d-flex flex-column justify-content-between ps-1">
          <h6 class="card-title">Yeast</h6>
          <p class="card-text">

          <div class="row pb-1">
            <div class="col-6">Pitch Time</div>
            <input type="time" id="default-picker"
              [(ngModel)]="brewDays[0].pitchTime"
              class="border border-primary col-sm-6 th-right"
              id="pitchTime">
          </div>

          <div class="row pb-1">
            <div class="col-6">Pitch Volume</div>
            <div class="col-6 th-right">{{ calculatePitchVol() | number : '1.1-1'}}</div>
          </div>

          <div class="row pb-1">
            <div class="col-6">Yeast Strain</div>
            <input [(ngModel)]="brewDays[0].yeastStrain" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="yeastStrain">
          </div>

          <div class="row pb-1">
            <div class="col-6">Generation</div>
            <input [(ngModel)]="brewDays[0].generation" type="number" step="1"
              class="border border-primary col-sm-6 th-right"
              id="generation">
          </div>

          <div class="row pb-1">
            <div class="col-6">Prev Batch Id</div>
            <input [(ngModel)]="brewDays[0].previousBatchId" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="previousBatchId">
          </div>

          <div class="row pb-1">
            <div class="col-6">Prev Batch Brand</div>
            <input [(ngModel)]="brewDays[0].previousBatchBrand" type="number" step="0.1"
              class="border border-primary col-sm-6"
              id="previousBatchBrand">
          </div>

          <div class="row pb-1">
            <div class="col-6">Yeast Vessel</div>
            <input [(ngModel)]="brewDays[0].yeastVessel" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="yeastVessel">
          </div>

          <div class="row pb-1">
            <div class="col-6">Cell Count</div>
            <input [(ngModel)]="brewDays[0].cellCount" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="cellCount">
          </div>

          <div class="row pb-1">
            <div class="col-6">Viability</div>
            <input [(ngModel)]="brewDays[0].viability" type="number" step="0.1"
              class="border border-primary col-sm-6 th-right"
              id="viability">
          </div>
        </div>
      </div>
    </div>
  </div>