<div class="p-4">
  <table class="table table-sm table-bordered table-condensed">
    <thead class="thead-dark bg-success th-left">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      {{ checkElements() }}
      <tr class="th-left" mdbTableCol *ngFor="let recipeHop of recipeHops; let i = index">

        <div *ngIf="!nameIsEmpty(recipeHop.name)">
          <p> {{ recipeHop.name }}</p>
        </div>

        <div *ngIf="nameIsEmpty(recipeHop.name)">

          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-sm btn-outline-dark" id="dropdownName"
              ngbDropdownToggle>Name</button>
            <div ngbDropdownMenu aria-labelledby="dropdownName">
              <button type="button" class="dropdown-item" *ngFor="let hop of hops"
                (click)="nameChange(hop.name)">{{hop.name}}</button>
            </div>
          </div>
        </div>

        <td>
          <div class="input-group">
            <input
              type="text"

              placeholder="{{ recipeHop.date | date: 'yyyy-MM-dd' }}"
              [ngModel]="enteredDate"
              ngbDatepicker #d="ngbDatepicker"
              (click)="d.toggle()"
              (dateSelect)="updateSelectedDate($event, i)">
          </div>
        </td>

        <td>
          <input [(ngModel)]="recipeHop.quantity" type="number" step="0.1" class="form-control th-right" id="valueId"
            (change)="quantityChange(recipeHop.quantity)">
        </td>

        <td>
          <input [(ngModel)]="recipeHop.time" type="number" class="form-control" id="valueId"
            (change)="timeChange(recipeHop.time)">
        </td>


        <td>
          <button type="button" class="btn btn-sm btn-primary table-button p-1" (click)=addRow()>+</button>
          <button type="button" class="btn btn-sm btn-primary table-button p-1" (click)=removeRow(recipeHop)>-</button>
        </td>
      </tr>

      <tr class="border-2 border-dark">
        <td scope="col">Total Hops</td>
        <td></td>
        <td class="th-right" style="padding-right:30px;">{{ calculateTotalHops() }}</td>

      </tr>

    </tbody>
  </table>
</div>