<body data-spy="scroll" data-target="#main-nav" id="home">
  <nav
    class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top"
    id="main-nav">
    <div class="container">
      <a class="navbar-brand px-2" h1>Rock Cut Brewing</a>
      <button
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="home#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="home#ingredients-head-section" class="nav-link">Ingredients</a>
          </li>
          <li class="nav-item">
            <a href="home#recipes-head-section" class="nav-link">Recipes</a>
          </li>
          <li class="nav-item">
            <a href="home#inventory-head-section" class="nav-link">Inventory</a>
          </li>
          <li class="nav-item">
            <a href="home#schedule-head-section" class="nav-link">Schedule</a>
          </li>
          <li class="nav-item">
            <a href="home#vessels-head-section" class="nav-link">Vessels</a>
          </li>
          <li class="nav-item">
            <a href="home#brewers-head-section" class="nav-link">Brewers</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>


</body>





<router-outlet></router-outlet>