<div class="spacer"></div>

 <!-- HOME SECTION-->
 <header id="home-section">
  <div class="dark-overlay">
    <div class="fill">
        <img
          src="../assets/home.jpg"
          alt=""
          class="img-fluid"
        />
    </div>
  </div>
</header>
  
<!-- INGREDIENTS HEAD SECTION-->
<section id="ingredients-head-section" class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Ingredients</h1>
      </div>
    </div>
  </div>
</section>

<!-- INGREDIENTS SECTION -->
<section id="ingredients-section" class="bg-light text-muted py-5">

  <div class="container">
    <div class="row">
      <div class="col">
        <img
          src="../../assets/grain.jpg"
          alt=""
          title="Grain"
          class="img-fluid mb-3 rounded-circle"
          style="width: 200px; height: 200px;"
          routerLinkActive="active" routerLink="/grains"
    
        />

      </div>

      <div class="col">
        <img
          src="../../assets/hop.jpg"
          alt=""
          title="Hop"
          class="img-fluid mb-3 rounded-circle"
          style="width: 200px; height: 200px;"
          routerLinkActive="active" routerLink="/hops"
    
          />
      </div>

      <div class="col">
        <img
          src="../../assets/adjunct.jpg"
          alt=""
          title="Adjunct"
          class="img-fluid mb-3 rounded-circle"
          style="width: 200px; height: 200px;"
          routerLinkActive="active" routerLink="/adjuncts"
 
          />

         </div>
     
      <div class="col">
        <img
          src="../../assets/yeast.jpg"
          alt=""
          title="Yeast"
          class="img-fluid mb-3 rounded-circle"
          style="width: 200px; height: 200px;"
          routerLinkActive="active" routerLink="/yeasts"
        />
      
      </div>


   
    </div>

  </div>      

</section>


<!-- RECIPES HEAD SECTION-->
<section id="recipes-head-section" class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Recipes</h1>
      </div>
    </div>
  </div>
</section>

<!-- RECIPES SECTION -->
<section id="recipes-section" class="bg-light text-muted py-5">
</section>


 <!-- BREW HEAD SECTION-->
 <section id="brew-head-section" class="bg-dark text-light py-5">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Brew</h1>
      </div>
    </div>
  </div>
</section>

<!-- BREW SECTION -->
<section id="brew-section" class="bg-light text-muted py-5">
</section>

  <!-- INVENTORY HEAD SECTION-->
  <section id="inventory-head-section" class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">Inventory</h1>
        </div>
      </div>
    </div>
  </section>
  
  <!-- INVENTORY SECTION -->
<section id="inventory-section" class="bg-light text-muted py-5">
</section>

  <!-- SCHEDULE HEAD SECTION-->
  <section id="schedule-head-section" class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center py-5">
          <h1 class="display-4">Schedule</h1>
        </div>
      </div>
    </div>
  </section>
  
  <!-- SCHEDULE SECTION -->
<section id="schedule-section" class="bg-light text-muted py-5">
</section>