<div class="spacer"></div>
<h1 *ngIf="isAddMode" class="p-4">Add Recipe</h1>
<h1 *ngIf="!isAddMode" class="p-4">Edit Recipe</h1>

<!-- main recipe fields -->
<div class="p-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'name'"
          id="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Status</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'status'"
          id="status"
          [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div *ngIf="f.status.errors.required">Status is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Batch ID</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'batchId'"
          id="batchId"
          [ngClass]="{ 'is-invalid': submitted && f.batchId.errors }" />
        <div *ngIf="submitted && f.batchId.errors" class="invalid-feedback">
          <div *ngIf="f.batchId.errors.required">Batch Number is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Sub Batch ID</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'subBatchId'"
          id="subBatchId" />
      </div>
    </div>


    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Previous Batch ID</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'previousBatchId'"
          id="previousBatchId"
          [ngClass]="{ 'is-invalid': submitted && f.previousBatchId.errors }" />
        <div *ngIf="submitted && f.previousBatchId.errors" class="invalid-feedback">
          <div *ngIf="f.previousBatchId.errors.required">Previous Batch Number is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Date</label>
      <div class="col-sm-9">
        <input
          placeholder="{{ r.date | date: 'yyyy-MM-dd'}}"
          type="text"
          [(ngModel)]="enteredDate"
          [ngModelOptions]="{standalone: true}"
          ngbDatepicker #d="ngbDatepicker">
        <button
          class="btn btn-outline-secondary btn-sm calendar"
          (click)="d.toggle()"
          type="button"><i class="fa fa-calendar"></i></button>
      </div>

    </div>


    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Estimated Duration</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'estimatedDuration'"
          id="estimatedDuration" />
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Type</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'type'"
          id="type"
          [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div *ngIf="f.type.errors.required">Type is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Batch Yield</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'batchYield'"
          id="batchYield"
          [ngClass]="{ 'is-invalid': submitted && f.batchYield.errors }" />
        <div *ngIf="submitted && f.batchYield.errors" class="invalid-feedback">
          <div *ngIf="f.batchYield.errors.required">Batch Yield is required</div>
        </div>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Target Efficiency</label>
      <div class="col-sm-9">
        <input
          [formControlName]="'targetEff'"
          id="targetEff"
          [ngClass]="{ 'is-invalid': submitted && f.targetEff.errors }" />
        <div *ngIf="submitted && f.targetEff.errors" class="invalid-feedback">
          <div *ngIf="f.targetEff.errors.required">Target Efficiency is required</div>
        </div>

      </div>
    </div>


    <!-- calculated fields -->
    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Target Original Gravity</label>
      <div class="col-sm-9">
        <output class="borderexample">{{ calculateOriginalGravity() }}</output>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Target Color</label>
      <div class="col-sm-9">
        <output class="borderexample">{{ calculateOriginalGravity() }}</output>
      </div>
    </div>

    <div class="form-group row p-2">
      <label class="col-sm-3 col-form-label">Target IBUs</label>
      <div class="col-sm-9">
        <output class="borderexample">{{ calculateOriginalGravity() }}</output>
      </div>
    </div>




    <!-- associated records -->
    <!-- GRAINS -->
    <p>
    <div class="container border border-primary p-2">

      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="isShowGrain = !isShowGrain"
          [attr.aria-expanded]="!isShowGrain" aria-controls="collapseExample">
          <div *ngIf="isShowGrain">
            <h5>Grains
              <i class="fa fa-solid fa-angle-up"></i>
            </h5>
          </div>
          <div *ngIf="!isShowGrain">
            <h5>Grains
              <i class="fa fa-solid fa-angle-down"></i>
            </h5>
          </div>
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="!isShowGrain">
        <div class="card">
          <div class="card-body">
            <recipe-grain [recipeGrains]="r.recipeGrains" [id]="r.id"></recipe-grain>
          </div>
        </div>
      </div>

    </div>

    <!-- HOPS -->
    <p>
    <div class="container border border-primary p-2">
      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="isShowHop = !isShowHop"
          [attr.aria-expanded]="!isShowHop" aria-controls="collapseExample">
          <div *ngIf="isShowHop">
            <h5>Hops
              <i class="fa fa-solid fa-angle-up"></i>
            </h5>
          </div>
          <div *ngIf="!isShowHop">
            <h5>Hops
              <i class="fa fa-solid fa-angle-down"></i>
            </h5>
          </div>
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="!isShowHop">
        <div class="card">
          <div class="card-body">
            <recipe-hop [recipeHops]="r.recipeHops" [id]="r.id"></recipe-hop>
          </div>
        </div>
      </div>

    </div>

    <!-- SALTS -->
    <p>
    <div class="container border border-primary p-2">
      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="isShowSalt = !isShowSalt"
          [attr.aria-expanded]="!isShowSalt" aria-controls="collapseExample">
          <div *ngIf="isShowSalt">
            <h5>Salts
              <i class="fa fa-solid fa-angle-up"></i>
            </h5>
          </div>
          <div *ngIf="!isShowSalt">
            <h5>Salts
              <i class="fa fa-solid fa-angle-down"></i>
            </h5>
          </div>
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="!isShowSalt">
        <div class="card">
          <div class="card-body">
            <recipe-salt [recipeSalts]="r.recipeSalts" [id]="r.id"></recipe-salt>
          </div>
        </div>
      </div>

    </div>

    <!-- BREWER -->
    <p>
    <div class="container border border-primary p-2">
      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="isShowBrewer = !isShowBrewer"
          [attr.aria-expanded]="!isShowBrewer" aria-controls="collapseExample">
          <div *ngIf="isShowBrewer">
            <h5>Brewers
              <i class="fa fa-solid fa-angle-up"></i>
            </h5>
          </div>
          <div *ngIf="!isShowBrewer">
            <h5>Brewers
              <i class="fa fa-solid fa-angle-down"></i>
            </h5>
          </div>
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="!isShowBrewer">
        <div class="card">
          <div class="card-body">
            <recipe-brewer [recipeBrewers]="r.recipeBrewers" [id]="r.id"></recipe-brewer>
          </div>
        </div>
      </div>

    </div>

    <!-- BREW DAY -->
    <p>
    <div class="container border border-primary p-2">
      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="isShowBrewDay = !isShowBrewDay"
          [attr.aria-expanded]="!isShowBrewDay" aria-controls="collapseExample">
          <div *ngIf="isShowBrewDay">
            <h5>BrewDay
              <i class="fa fa-solid fa-angle-up"></i>
            </h5>
          </div>
          <div *ngIf="!isShowBrewDay">
            <h5>BrewDay
              <i class="fa fa-solid fa-angle-down"></i>
            </h5>
          </div>
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="!isShowBrewDay">
        <div class="card">
          <div class="card-body">
            <brewday [brewDays]="r.brewDays" [id]="r.id"></brewday>
          </div>
        </div>
      </div>

    </div>

    <!-- BREW LOG -->
    <p>
    <div class="container border border-primary p-2">
      <p>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="isShowBrewLog = !isShowBrewLog"
          [attr.aria-expanded]="!isShowBrewLog" aria-controls="collapseExample">
          <div *ngIf="isShowBrewLog">
            <h5>BrewLog
              <i class="fa fa-solid fa-angle-up"></i>
            </h5>
          </div>
          <div *ngIf="!isShowBrewLog">
            <h5>BrewLog
              <i class="fa fa-solid fa-angle-down"></i>
            </h5>
          </div>
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="!isShowBrewLog">
        <div class="card">
          <div class="card-body">
            <brewlog [brewLogs]="r.brewLogs" [id]="r.id"></brewlog>
          </div>
        </div>
      </div>

    </div>



    <div class="btn-toolbar p-4">
      <button *ngIf="isAddMode" type="submit" class="btn btn-primary">Add</button>
      <button *ngIf="!isAddMode" type="submit" class="btn btn-primary">Update</button>
    </div>

  </form>


</div>