<div class="spacer"></div>
<h2 *ngIf="isAddMode" class="p-1">Add Recipe</h2>
<h2 *ngIf="!isAddMode" class="p-1">Edit Recipe</h2>

<!-- main recipe fields -->
<div class="container-fluid m-0 pe-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit() ">

    <div class="row">
      <div class="col-3">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Name</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'name'"
              id="name"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />

            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Name is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <tr>

            <label class="col-sm-4 col-form-label" for="recipeStatus">Status</label>

            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-sm btn-outline-dark mb-2 ms-2" id="dropdownName"
                ngbDropdownToggle>{{ f.status.value }}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownName">
                <button type="button" class="dropdown-item th-right" *ngFor="let recipeStatus of recipeStatuses"
                  (click)="statusChange(recipeStatus)">{{recipeStatus}}</button>
              </div>
            </div>
          </tr>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Batch ID</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'batchId'"
              id="batchId"
              [ngClass]="{ 'is-invalid': submitted && f.batchId.errors }" />
            <div *ngIf="submitted && f.batchId.errors" class="invalid-feedback">
              <div *ngIf="f.batchId.errors.required">Batch Number is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Sub ID</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'subBatchId'"
              id="subBatchId" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Prev ID</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'previousBatchId'"
              id="previousBatchId"
              [ngClass]="{ 'is-invalid': submitted && f.previousBatchId.errors }" />
            <div *ngIf="submitted && f.previousBatchId.errors" class="invalid-feedback">
              <div *ngIf="f.previousBatchId.errors.required">Previous Batch Number is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Date</label>
          <div class="col-sm-8">
            <input
              placeholder="{{ r.date | date: 'yyyy-MM-dd'}}"
              type="text"
              style="width:100px; color:black"
              [(ngModel)]="enteredDate"
              [ngModelOptions]="{standalone: true}"
              ngbDatepicker #d="ngbDatepicker">
            <button
              class="btn btn-outline-secondary pt-0 pb-0 btn-xs calendar"
              (click)="d.toggle()"
              type="button"><i class="fa fa-calendar"></i></button>
          </div>

        </div>


        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Duration</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'estimatedDuration'"
              type="number"
              id="estimatedDuration" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Target Dt</label>
          <div class="col-sm-8">
            <output class="out-border ps-1"
              type="text"
              style="width:100px;">{{ calculateCompletionDate() | date: 'yyyy-MM-dd' }}</output>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Type</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'type'"
              id="type"
              [ngClass]="{ 'is-invalid': submitted && f.type.errors }" />
            <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
              <div *ngIf="f.type.errors.required">Type is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Batch Yield</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'batchYield'"
              type="number" step="0.1"
              id="batchYield"
              [ngClass]="{ 'is-invalid': submitted && f.batchYield.errors }" />
            <div *ngIf="submitted && f.batchYield.errors" class="invalid-feedback">
              <div *ngIf="f.batchYield.errors.required">Batch Yield is required</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label pt-0">Target Efficiency</label>
          <div class="col-sm-8">
            <input
              [formControlName]="'targetEff'"
              id="targetEff"
              type="number" step="0.1"
              [ngClass]="{ 'is-invalid': submitted && f.targetEff.errors }" />
            <div *ngIf="submitted && f.targetEff.errors" class="invalid-feedback">
              <div *ngIf="f.targetEff.errors.required">Target Efficiency is required</div>
            </div>

          </div>
        </div>


        <!-- calculated fields -->
        <div class="form-group row">
          <label class="col-sm-4 col-form-label pt-0">Target OG</label>
          <div class="col-sm-8">
            <output class="out-border ps-1"
              style="width:100px;">{{ calculateOriginalGravity() }}</output>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label pt-0">Target Color</label>
          <div class="col-sm-8">
            <output class="out-border ps-1"
              style="width:100px;">{{ calculateColor() | number : '1.1-5' }}</output>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-4 col-form-label pt-0">Target IBUs</label>
          <div class="col-sm-8">
            <output class="out-border ps-1"
              style="width:100px;">{{ calculateOriginalGravity() }}</output>
          </div>
        </div>

        <!-- submit button -->
        <div class="btn-toolbar p-4">
          <button *ngIf="isAddMode" type="submit" class="btn btn-primary">Add</button>
          <button *ngIf="!isAddMode" type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>

      <!-- associated records -->
      <div class="border border-secondary col-9 pb-2" style="height: 630px; overflow-y: scroll;">
        <!-- GRAINS -->

        <p>
        <div class="container border border-primary p-2">
          <p>
            <button type="button" class="btn btn-primary pb-0" (click)="isShowGrain = !isShowGrain"
              [attr.aria-expanded]="!isShowGrain" aria-controls="collapseExample">
              <div *ngIf="isShowGrain">
                <h6>Grains
                  <i class="fa fa-solid fa-angle-up"></i>
                </h6>
              </div>
              <div *ngIf="!isShowGrain">
                <h6>Grains
                  <i class="fa fa-solid fa-angle-down"></i>
                </h6>
              </div>
            </button>
          </p>

          <div id="collapseExample" [ngbCollapse]="!isShowGrain">
            <div class="card border border-0">
              <div class="card-body">
                <recipe-grain [recipeGrains]="r.recipeGrains" [id]="r.id"></recipe-grain>
              </div>
            </div>
          </div>

        </div>

        <!-- HOPS -->
        <p>
        <div class="container border border-primary p-2">
          <p>
            <button type="button" class="btn btn-primary pb-0" (click)="isShowHop = !isShowHop"
              [attr.aria-expanded]="!isShowHop" aria-controls="collapseExample">
              <div *ngIf="isShowHop">
                <h6>Hops
                  <i class="fa fa-solid fa-angle-up"></i>
                </h6>
              </div>
              <div *ngIf="!isShowHop">
                <h6>Hops
                  <i class="fa fa-solid fa-angle-down"></i>
                </h6>
              </div>
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="!isShowHop">
            <div class="card border border-0">
              <div class="card-body">
                <recipe-hop [recipeHops]="r.recipeHops" [id]="r.id"></recipe-hop>
              </div>
            </div>
          </div>

        </div>

        <!-- SALTS -->
        <p>
        <div class="container border border-primary p-2">
          <p>
            <button type="button" class="btn btn-primary pb-0" (click)="isShowSalt = !isShowSalt"
              [attr.aria-expanded]="!isShowSalt" aria-controls="collapseExample">
              <div *ngIf="isShowSalt">
                <h6>Salts
                  <i class="fa fa-solid fa-angle-up"></i>
                </h6>
              </div>
              <div *ngIf="!isShowSalt">
                <h6>Salts
                  <i class="fa fa-solid fa-angle-down"></i>
                </h6>
              </div>
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="!isShowSalt">
            <div class="card border border-0">
              <div class="card-body">
                <recipe-salt [recipeSalts]="r.recipeSalts" [id]="r.id"></recipe-salt>
              </div>
            </div>
          </div>

        </div>

        <!-- ADJUNCTS -->
        <p>
        <div class="container border border-primary p-2">
          <p>
            <button type="button" class="btn btn-primary pb-0" (click)="isShowAdjunct = !isShowAdjunct"
              [attr.aria-expanded]="!isShowAdjunct" aria-controls="collapseExample">
              <div *ngIf="isShowAdjunct">
                <h6>Adjuncts
                  <i class="fa fa-solid fa-angle-up"></i>
                </h6>
              </div>
              <div *ngIf="!isShowAdjunct">
                <h6>Adjuncts
                  <i class="fa fa-solid fa-angle-down"></i>
                </h6>
              </div>
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="!isShowAdjunct">
            <div class="card border border-0">
              <div class="card-body">
                <recipe-adjunct [recipeAdjuncts]="r.recipeAdjuncts" [id]="r.id"></recipe-adjunct>
              </div>
            </div>
          </div>

        </div>


        <!-- BREWER -->
        <p>
        <div class="container border border-primary p-2">
          <p>
            <button type="button" class="btn btn-primary pb-0" (click)="isShowBrewer = !isShowBrewer"
              [attr.aria-expanded]="!isShowBrewer" aria-controls="collapseExample">
              <div *ngIf="isShowBrewer">
                <h6>Brewers
                  <i class="fa fa-solid fa-angle-up"></i>
                </h6>
              </div>
              <div *ngIf="!isShowBrewer">
                <h6>Brewers
                  <i class="fa fa-solid fa-angle-down"></i>
                </h6>
              </div>
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="!isShowBrewer">
            <div class="card border border-0">
              <div class="card-body">
                <recipe-brewer [recipeBrewers]="r.recipeBrewers" [id]="r.id"></recipe-brewer>
              </div>
            </div>
          </div>

        </div>

        <!-- BREW DAY -->
        <p>
        <div class="container border border-primary p-2">
          <p>
            <button type="button" class="btn btn-primary pb-0" (click)="isShowBrewDay = !isShowBrewDay"
              [attr.aria-expanded]="!isShowBrewDay" aria-controls="collapseExample">
              <div *ngIf="isShowBrewDay">
                <h6>BrewDay
                  <i class="fa fa-solid fa-angle-up"></i>
                </h6>
              </div>
              <div *ngIf="!isShowBrewDay">
                <h6>BrewDay
                  <i class="fa fa-solid fa-angle-down"></i>
                </h6>
              </div>
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="!isShowBrewDay">
            <div class="card border border-0">
              <div class="card-body">
                <brewday [brewDays]="r.brewDays" [id]="r.id"></brewday>
              </div>
            </div>
          </div>

        </div>

        <!-- FERMENTATION LOG -->
        <p>
        <div class="container border border-primary p-2">
          <p>
            <button type="button" class="btn btn-primary pb-0"
              (click)="isShowFermentationLog = !isShowFermentationLog"
              [attr.aria-expanded]="!isShowFermentationLog" aria-controls="collapseExample">
              <div *ngIf="isShowFermentationLog">
                <h6>FermentationLog
                  <i class="fa fa-solid fa-angle-up"></i>
                </h6>
              </div>
              <div *ngIf="!isShowFermentationLog">
                <h6>FermentationLog
                  <i class="fa fa-solid fa-angle-down"></i>
                </h6>
              </div>
            </button>
          </p>
          <div id="collapseExample" [ngbCollapse]="!isShowFermentationLog">
            <div class="card border border-0">
              <div class="card-body">
                <fermentationlog [fermentationLogs]="r.fermentationLogs" [id]="r.id"></fermentationlog>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>


  </form>


</div>