<div class="p-4">
  <h1>
    <table class="table table-sm table-bordered table-condensed">
      <thead class="thead-dark bg-success th-left">
        <tr>
          <th scope="col">Date</th>
          <!--     <th scope="col">Time</th>-->
          <th scope="col">Temp</th>
          <th scope="col">Gravity</th>
          <th scope="col">pH</th>
          <th scope="col">Brewer</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        {{ checkElements() }}
        <tr class="th-left" mdbTableCol *ngFor="let brewLog of brewLogs">


          <!--
          <div class="input-group">
            <input class="form-control" placeholder="{{ brewLog.date | date: 'yyyy-MM-dd'}}"
              name="dp"
              [(ngModel)]="enteredDate"

              ngbDatepicker #d="ngbDatepicker"
              (ngModelChange)="dateChange()">
            <button class="fa fa-calendar" (click)="d.toggle()" type="button"></button>
          </div>

       
          <td>
            <input type="time" id="default-picker"
              [(ngModel)]="enteredTime"
              class="form-control"
              (ngModelChange)="timeChange()">
          </td>
-->

          {{ enteredTime }}
          <td>
            <input type="datetime-local"
              [(ngModel)]="enteredTime"
              class="form-control"
              (ngModelChange)="timeChange()" id="enteredTime"
              name="enteredTime"
              pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}">
          </td>

          <td>

            <input [(ngModel)]=" brewLog.temp" type="number" class="form-control th-right" id="temp">
          </td>


          <td>
            <input [(ngModel)]="brewLog.gravity" type="number" class="form-control th-right" id="gravity">
          </td>

          <td>
            <input [(ngModel)]="brewLog.ph" type="number" class="form-control th-right" id="ph">
          </td>

          <div *ngIf="!brewerIsEmpty(brewLog.brewer)">
            <p> {{ brewLog.brewer }}</p>
          </div>

          <div *ngIf="brewerIsEmpty(brewLog.brewer)">

            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-dark" id="dropdownName" ngbDropdownToggle>Name</button>
              <div ngbDropdownMenu aria-labelledby="dropdownName">
                <button type="button" class="dropdown-item" *ngFor="let brewer of brewers"
                  (click)="nameChange(brewer.name)">{{brewer.name}}</button>
              </div>
            </div>
          </div>

          <td>
            <textarea [(ngModel)]="brewLog.note" class="form-control" id="note"
              rows="1" maxlength="50"></textarea>
          </td>

          <td>
            <button type="button" class="btn btn-primary" (click)=addRow()>+</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)=removeRow(brewLog)>-</button>
          </td>
        </tr>

      </tbody>
    </table>
  </h1>
</div>