<div class="p-4">
  <h1>
    <table class="table table-sm table-bordered table-condensed">
      <thead class="thead-dark bg-success th-left">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        <tr class="th-left" mdbTableCol *ngFor="let recipeGrain of recipeGrains">

          <div *ngIf="!nameIsEmpty(recipeGrain.name)">
            <p> {{ recipeGrain.name }}</p>
          </div>

          <div *ngIf="nameIsEmpty(recipeGrain.name)">

            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-dark" id="dropdownName" ngbDropdownToggle>Name</button>
              <div ngbDropdownMenu aria-labelledby="dropdownName">
                <button type="bitton" class="dropdown-item" *ngFor="let grain of grains"
                  (click)="nameChange(grain.name)">{{grain.name}}</button>
              </div>
            </div>
          </div>

          <td>
            <input [(ngModel)]="recipeGrain.quantity" type="number" class="form-control th-right" id="valueId"
              (change)="quantityChange(recipeGrain.quantity)">
          </td>
          <td>{{ calculatePercentage(recipeGrain.quantity) | number : '1.0-0'}}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)=addRow()>+</button>
          </td>
          <td>
            <button class="btn btn-primary" (click)=removeRow(recipeGrain)>-</button>
          </td>
        </tr>
        <tr class="border-2 border-dark">
          <td scope="col">Total Grist</td>
          <td class="th-right" style="padding-right:30px;">{{ calculateTotalGrist() }}</td>

        </tr>

      </tbody>
    </table>
  </h1>
</div>