<div class="p-0">
  <table class="table table-sm table-bordered table-condensed">
    <thead class="thead-dark bg-success th-left">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date</th>
        <th scope="col">Mash</th>
        <th scope="col">Lauter</th>
        <th scope="col">Kettle</th>
      </tr>
    </thead>
    <tbody>
      {{ checkElements() }}

      <tr class="th-left" mdbTableCol *ngFor="let recipeSalt of recipeSalts; let i = index">

        <div *ngIf="!nameIsEmpty(recipeSalt.name)">
          <p> {{ recipeSalt.name }}</p>
        </div>

        <div *ngIf="nameIsEmpty(recipeSalt.name)">

          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-sm btn-outline-dark" id="dropdownName"
              ngbDropdownToggle>Name</button>
            <div ngbDropdownMenu aria-labelledby="dropdownName">
              <button type="button" class="dropdown-item" *ngFor="let salt of salts"
                (click)="nameChange(salt)">{{salt}}</button>
            </div>
          </div>
        </div>

        <td>
          <div class="input-group">
            <input
              type="text"
              style="width:100px; color:black"
              placeholder="{{ recipeSalt.date | date: 'yyyy-MM-dd' }}"
              [ngModel]="enteredDate"
              ngbDatepicker #d="ngbDatepicker"
              (click)="d.toggle()"
              (dateSelect)="updateSelectedDate($event, i)">
          </div>
        </td>

        <td>
          <input [(ngModel)]="recipeSalt.mashQuantity" type="number" step="0.1" class="form-control th-right"
            id="mashQuantity">
        </td>

        <td>
          <input [(ngModel)]="recipeSalt.lauterQuantity" type="number" step="0.1" class="form-control th-right"
            id="lauterQuantity">
        </td>

        <td>
          <input [(ngModel)]="recipeSalt.kettleQuantity" type="number" step="0.1" class="form-control th-right"
            id="kettleQuantity">
        </td>

        <td>
          <button type="button" class="btn btn-sm btn-primary table-button p-1" (click)=addRow()>+</button>
          <button type="button" class="btn btn-sm btn-primary table-button p-1" (click)=removeRow(recipeSalt)>-</button>
        </td>
      </tr>


    </tbody>
  </table>
</div>