<div class="spacer"></div>
<div class="p-4">
  <h1>recipe</h1>
  <h1>
    <table class="table table-sm table-bordered table-condensed">
      <thead class="thead-dark bg-success th-left">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Status</th>
          <th scope="col">Batch No</th>
          <th scope="col">
            <div>Previous</div>
            <div>Batch No</div>
          </th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Description</th>

        </tr>
      </thead>
      <tbody>
        <tr class="th-left" mdbTableCol *ngFor="let recipe of recipes">
          <td>{{ recipe.name }}</td>
          <td>{{ recipe.status }}</td>
          <td>{{ recipe.batchId }}</td>
          <td>{{ recipe.previousBatchId }}</td>
          <td>{{ recipe.date | date:'yyyy-MM-dd' }}</td>
          <td>{{ recipe.type }}</td>
          <td>{{ recipe.description }}</td>

          <button class="btn btn-sm btn-outline-primary table-button"
            [routerLink]="['/recipe-edit/' + recipe.id]">Edit</button>

          <button class="btn btn-sm btn-outline-primary table-button"
            [routerLink]="['/recipe-edit/' + recipe.id]">Clone</button>

        </tr>

      </tbody>
    </table>

    <div class="btn-toolbar">
      <button class="btn btn-primary pull-left" [routerLink]="'/recipe-edit'">Add recipe</button>

    </div>

  </h1>
</div>

<div class="col-xs-12 col-sm-4">
  <router-outlet></router-outlet>
</div>