<div class="p-0">
  <table class="table table-sm table-bordered table-condensed">
    <thead class="thead-dark bg-success">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Temp</th>
        <th scope="col">Gravity</th>
        <th scope="col">pH</th>
        <th scope="col">
          <div>Current</div>
          <div>ABV</div>
        </th>
        <th scope="col">Brewer</th>
        <th scope="col">Note</th>
      </tr>
    </thead>
    <tbody>
      {{ checkElements() }}
      <tr *ngFor="let fermentationLog of fermentationLogs; let i = index">

        <div class="input-group">
          <input
            type="text"
            style="width:90px; color:black"
            placeholder="{{ fermentationLog.date | date: 'yyyy-MM-dd' }}"
            [ngModel]="enteredDate"
            ngbDatepicker #d="ngbDatepicker"
            (click)="d.toggle()"
            (dateSelect)="updateSelectedDate($event, i)">
        </div>

        <td>
          <input type="time" id="default-picker"
            [(ngModel)]="fermentationLog.time">
        </td>

        <td>
          <input [(ngModel)]="fermentationLog.temp" style="width:60px;"
            type="number" step="0.1" class="th-right" id="temp">
        </td>

        <td>
          <input [(ngModel)]="fermentationLog.gravity" style="width:60px;" type="number" step="0.1" class="th-right"
            id="gravity">
        </td>

        <td>
          <input [(ngModel)]="fermentationLog.ph" style="width:60px;" type="number" step="0.1" class="th-right"
            id="ph">
        </td>

        <td>
          <input [(ngModel)]="fermentationLog.currentABV" style="width:60px;" type="number" step="0.1" class="th-right"
            id="currentABV">
        </td>

        <div *ngIf="!brewerIsEmpty(fermentationLog.brewer)">
          <p> {{ fermentationLog.brewer }}</p>
        </div>

        <div *ngIf="brewerIsEmpty(fermentationLog.brewer)">

          <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-sm btn-outline-dark" id="dropdownName"
              ngbDropdownToggle>Name</button>
            <div ngbDropdownMenu aria-labelledby="dropdownName">
              <button type="button" class="dropdown-item" *ngFor="let brewer of brewers"
                (click)="nameChange(brewer.name)">{{ brewer.name }}</button>
            </div>
          </div>
        </div>

        <td>
          <textarea [(ngModel)]="fermentationLog.note"

            style="width:300px;"
            id="note"
            rows="1" maxlength="100" placeholder="add note..."></textarea>
        </td>

        <td>
          <button type="button" class="btn btn-sm btn-primary table-button p-1" (click)=addRow()>+</button>
          <button type="button" class="btn btn-sm btn-primary table-button p-1"
            (click)=removeRow(fermentationLog)>-</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>